<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="i_itarable" value="100" />
    <add key="host_name" value="localhost"/>
    <add key="queue_name" value="hello"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>