@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" action="">
    <input type="text" name="Country"><br />
    <input type="date" name="Datebegin"><br />
    <input type="date" name="Dateend"><br />
    <input type="submit" value="Отправить" name="submit">
</form>
